@import './variables.css';

.event-list-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.event-list-header {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    padding: 16px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-secondary);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.event-list-items {
    overflow: auto;
    padding: 24px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-events-message {
    padding: 20px;
    text-align: center;
    color: var(--font-color-dark);
}