@import 'variables.css';

.event-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: var(--font-color-dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;;
    font-size: 1rem;
}

.header-card {
    border: 2px var(--main-color) solid;
    background-color: var(--bg-color);
    box-shadow: 2px 2px var(--main-color);
    padding: 8px 12px 8px 12px;
    border-radius: 999px;
}

.button-group {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    width: 85%;
}