:root {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --font-color-secondary: #6b7280;
    --bg-color: #fff;
    --bg-header: #e0e7ff;
    --bg-secondary: #f9fafb;
    --main-color: #323232;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-size-base: 16px;
    --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --card-hover-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

    --blue-chip-color: #4f46e5;
    --blue-chip-light: #eef2ff;
    --red-chip-color: #f44336;
    --red-chip-light: #ffeaea;
    --orange-chip-color: #fb923c;
    --orange-chip-light: #fff7ed;
    --purple-chip-color: #a855f7;
    --purple-chip-light: #f5f3ff;
    --green-chip-color: #28a745;
    --green-chip-light: #ecfdf5;
}